<div id="<%= dom_id friend %>">
  <h1 class="display-5 fw-bold">
    <%= @friend.first_name %> <%= @friend.last_name %>
  </h1>

  <p class="col-md-8 fs-4">
    E-mail: <%= @friend.email %>
  </p>

  <p class="col-md-8 fs-4">
    Phone: <%= @friend.phone %>
  </p>

  <p class="col-md-8 fs-4">
    Twitter: <%= @friend.twitter %>
  </p>
</div>
